<!doctype html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0"/>
  <title>Flickr Public Feed</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
  <link rel="stylesheet" href="style.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic"/>
</head>
  <body ng-app="flickrFeed" ng-controller="ListController" layout="column" layout-align="top-center">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span class="md-flex">Flickr Potato Search</span>
      </div>
    </md-toolbar>
    <md-content layout="column" layout-align="center center">

      <div class="app-content">
        <form ng-submit="search()">
          <div ng-show="!isSearching">
          <md-input-container>
            <label>Search</label>
            <input type="text" ng-model="searchTerm" ng-submit="search();">
          </md-input-container>
          </div>
          <div class='progress' ng-show="isSearching">
            <md-progress-circular md-theme="blue" md-mode="indeterminate"><md-progress-circular>
          </div>
        </form>

        <md-card ng-repeat="picture in results.photos.photo">
          <h3> {{picture.author}} </h3>
          <h4> {{picture.title}} </h4>
          <img ng-src="https://farm{{picture.farm}}.staticflickr.com/{{picture.server}}/{{picture.id}}_{{picture.secret}}_b.jpg alt="" class="md-card-image"/>
        </md-card>

      </div>
    </md-content>
    <script src='bower_components/angular/angular.min.js'></script>
    <script src='bower_components/angular-aria/angular-aria.min.js'></script>
    <script src='bower_components/angular-animate/angular-animate.min.js'></script>
    <script src='bower_components/hammerjs/hammer.min.js'></script>
    <script src='bower_components/angular-material/angular-material.min.js'></script>
    <script src='app.js'></script>
  </body>

  </html>
