.app-content {
  width:75%
}
form {
  padding: 10px 30px 20px 25px;
}

.md-3-line {
  margin-top: 50px;
  margin-right:50px;
}

md-input-container label {
    position: relative;
    top: -2px;
    font-weight: bold;
}

md-card {
  padding: 10px 30px 25px 20px;

}
md-card>img {
    width: 30%;
  margin-right: 30px;
}
/*
md-title md-toolbar {
  font-size: 90px;
}*/

.progress {

}

.html {
  background-image:
}
